<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js|png|jpg|jpeg|gif|ico|mp4|webp|webm)$">
    Header set Cache-Control "public, max-age=0, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "-1"
  </FilesMatch>
</IfModule>
